.infoCon {
    margin: 0px 520px 20px 30px;
    padding-top: 100px;
   
    h2 {
        font-size: 20px;
        text-transform: uppercase;
        font-weight: bold;
        margin-bottom: 10px;
    }
    p{
        margin-bottom: 30px;
    }
    a{
       padding: 13px; 
       border: 2px solid orange;
       background-color: orange;
       color: white;
       text-decoration: none;
       border-radius: 5px;
    }
    
}
.servicesCon {
    margin-top: 50px;
    text-align: center;
    background-color: #7FB3D5;
    padding: 30px;
    h3 {
        margin-bottom: 10px;
        font-weight: bold;
        font-size: 18px;
    }
    p{
        margin: 0px 150px;
        color: gray;
    }
}
.service-info {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 20px;
  
    
    h4 {
        margin: 10px 0px;
       
    }
    .info1 {
        p {
        margin-bottom: 10px;
          font-size: 14px;
          width: 130px;
    }
    a {
        color: gray;
        font-size: 14px;
    }
    
}
}
.refereeCon {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 20px;
    margin-right: 20px;
    .referee-text {
        width: 500px;
        h3 {
            font-weight: bold;
            font-size: 18px;
        }
        p {
            margin: 20px 0;
            color: gray;
        }
        a {
            color: white;
            padding: 10px;
            background-color: orange;
            border-radius: 5px;
        }
    }
    .referee-pic {
        padding: 60px;
        background-color: darkorange ;
        border-radius: 10px;
        color: white;

    }
}
.membershipCon {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 50px 20px;
    .membership-pic {
        padding: 60px;
        background-color: darkorange ;
        border-radius: 10px;
        color: white;

    }
    .membership-text {
        width: 500px;
        h3 {
            font-weight: bold;
            font-size: 18px;
        }
        p{
            margin: 10px 0;
            color: gray;
        }
    }
}
.gallery-text {
    text-align: center;
    h3 {
        font-weight: bold;
        font-size: 18px;
        margin-bottom: 10px;
    }
}
.galleryCon {
    background-color: #7FB3D5;
    padding: 30px;
.gallery-pic {
    display: flex;
    flex-direction: row;
    margin-left: 50px;
    margin-top: 20px;
    
    h3 {
        padding: 60px;
        background-color: darkorange ;
        border-radius: 10px;
        color: white;
        width: 50px;
        height: 60px;
        margin-bottom: 20px;
        text-align: center;
    }
    h4 {
        margin-bottom: 20px;
        font-weight: bold;
        color: white;
    }
    p{
        margin-bottom: 20px;
        color: white;
        font-size: 14px;
    } a{
        color: darkorange;
    }
}
}
.sponsorshipCon {
    h2 {
        font-weight: bold;
        font-size: 18px;
        margin: 20px;
        
    }
    .spon-pic1 {
        display: flex;
        flex-direction: row;
        margin-left: 100px;
        h3 {
            background-color: darkorange;
            padding: 80px;
            border-radius: 10px;
        }
        h4 {
            background-color:  #7FB3D5;
            padding: 80px;
            border-radius: 10px;
        }
    }
    .spon-pic2 {
        display: flex;
        flex-direction: row;
        margin-left: 100px;
        h3 {
            background-color: darkorange;
            padding: 20px 175px;
            border: 2px solid white;
           
        }
    }
}
.socialCon {
    h2 {
        font-weight: bold;
        margin: 20px;
        font-size: 20px;

    }
    .social-pic {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-left: 50px;
        h3 {
            background-color: darkorange;
            padding: 50px 20px;
            margin-right: 20px;
        }
        p{
            margin-top: 20px;
            margin-bottom: 10px;
            color: gray;
        }
        a {
            color: gray;
            font-size: 14px;
        }
    }
}